In [31]:
import pandas as pd
from pyproj import Proj, transform

In [32]:
tram_stops = pd.read_csv("/Users/colettebrown/Library/CloudStorage/GoogleDrive-coletteb@berkeley.edu/Shared drives/Tram/data/latlon_per_stop.csv", header=None)
tram_stops.rename(columns = {0: 'stop_number', 1:'latitude', 2:'longitude'}, inplace=True)

In [33]:
haruko_data = pd.read_csv('/Users/colettebrown/Downloads/poly_feat_type.txt', delim_whitespace=True, header=None, names = ['easting', 'northing', 'class'])

In [34]:
haruko_data

           easting   northing  class
0        585332.46  7909903.8    8.0
1        585332.46  7909904.3    8.0
2        585332.46  7909904.8    8.0
3        585332.46  7909905.3    8.0
4        585332.46  7909905.8    8.0
...            ...        ...    ...
2050417  585992.96  7910676.8    NaN
2050418  585992.96  7910677.3    NaN
2050419  585992.96  7910677.8    NaN
2050420  585992.96  7910678.3    NaN
2050421  585992.96  7910678.8    NaN

[2050422 rows x 3 columns]

In [39]:
haruko_data.columns

Index(['easting', 'northing', 'class'], dtype='object')

In [40]:
import geopandas as gpd
gdf = gpd.GeoDataFrame(haruko_data, geometry=gpd.points_from_xy(haruko_data['easting'], haruko_data['northing']), crs='EPSG:4269')

In [43]:
gdf = gdf.to_crs('epsg:4326')

In [44]:
gdf

           easting   northing  class                            geometry
0        585332.46  7909903.8    8.0  POINT (585332.46000 7909903.80000)
1        585332.46  7909904.3    8.0  POINT (585332.46000 7909904.30000)
2        585332.46  7909904.8    8.0  POINT (585332.46000 7909904.80000)
3        585332.46  7909905.3    8.0  POINT (585332.46000 7909905.30000)
4        585332.46  7909905.8    8.0  POINT (585332.46000 7909905.80000)
...            ...        ...    ...                                 ...
2050417  585992.96  7910676.8    NaN  POINT (585992.96000 7910676.80000)
2050418  585992.96  7910677.3    NaN  POINT (585992.96000 7910677.30000)
2050419  585992.96  7910677.8    NaN  POINT (585992.96000 7910677.80000)
2050420  585992.96  7910678.3    NaN  POINT (585992.96000 7910678.30000)
2050421  585992.96  7910678.8    NaN  POINT (585992.96000 7910678.80000)

[2050422 rows x 4 columns]