In [60]:
import pandas as pd

In [61]:
tram_2014 = pd.read_csv("/Users/colettebrown/repos/tram/data/NGEE-Barrow_tram_final_2014_data.csv")
tram_2015 = pd.read_csv("/Users/colettebrown/repos/tram/data/NGEE-Barrow_tram_final_2015_data.csv")
tram_2016 = pd.read_csv("/Users/colettebrown/repos/tram/data/NGEE-Barrow_tram_final_2016_data.csv")
tram_2017 = pd.read_csv("/Users/colettebrown/repos/tram/data/NGEE-Barrow_tram_final_2017_data.csv")

In [62]:
tram_data = pd.concat([tram_2014, tram_2015, tram_2016, tram_2017])

In [63]:
tram_data.columns

Index(['Year ', 'Month ', 'Day_of_Month', 'Hour', 'Minute', 'Second',
       'DD_AKST', 'DD_Expected_AKST', 'Offset_time', 'DD_UTC', 'Run_number',
       'Stop_number', 'Height', 'ShortW_inc', 'ShortW_out', 'Albedo',
       'LongW_inc', 'LongW_out', 'Net_shortW', 'Net_longW', 'Net_Rad',
       'Sol_Irr_inc', 'Sol_Irr_out', 'PAR_inc', 'PAR_out', 'fPAR', 'Red_i',
       'NIR_i', 'Red_r', 'NIR_r', 'NDVI', 'T_air_C', 'T_surf_C'],
      dtype='object')

In [64]:
len(tram_data[tram_data['Year '] == 2016])

43299

In [65]:
tram_data = tram_data[tram_data['Albedo'] != -9999]
tram_data = tram_data[tram_data['Albedo'] <= 0.95]
tram_data = tram_data[tram_data['Albedo'] >= 0.01]
tram_data = tram_data[tram_data['ShortW_inc'] >= 50]
tram_data = tram_data[tram_data['NDVI'] != -9999]

In [66]:
len(tram_data[tram_data['Year '] == 2016])

29899

In [67]:
tram_data.columns

Index(['Year ', 'Month ', 'Day_of_Month', 'Hour', 'Minute', 'Second',
       'DD_AKST', 'DD_Expected_AKST', 'Offset_time', 'DD_UTC', 'Run_number',
       'Stop_number', 'Height', 'ShortW_inc', 'ShortW_out', 'Albedo',
       'LongW_inc', 'LongW_out', 'Net_shortW', 'Net_longW', 'Net_Rad',
       'Sol_Irr_inc', 'Sol_Irr_out', 'PAR_inc', 'PAR_out', 'fPAR', 'Red_i',
       'NIR_i', 'Red_r', 'NIR_r', 'NDVI', 'T_air_C', 'T_surf_C'],
      dtype='object')

In [68]:
tram_data.columns = tram_data.columns.str.strip()

tram_data.rename(columns={'Day_of_Month' : 'Day'}, inplace=True)

tram_data['date'] = pd.to_datetime(tram_data[['Year', 'Month', 'Day']])

In [69]:
tram_data.describe()

,Year,Month,Day,Hour,Minute,Second,DD_AKST,DD_Expected_AKST,Offset_time,DD_UTC,...,PAR_out,fPAR,Red_i,NIR_i,Red_r,NIR_r,NDVI,T_air_C,T_surf_C,date
count,136483.000000,136483.000000,136483.000000,136483.000000,136483.000000,136483.000000,136483.000000,136483.000000,136483.000000,136483.000000,...,136483.000000,136483.000000,136483.000000,136483.000000,136483.000000,136483.000000,136483.000000,136483.000000,136483.000000,136483
mean,2015.497344,6.569404,15.141080,12.103229,25.515771,29.529187,184.034639,182.604348,-1.356969,184.409639,...,245.050737,-24.339731,-201.443738,-347.339358,-2.501847,-5.380593,0.270942,2.793290,4.470026,2015-12-31 07:45:02.129935872
min,2014.000000,4.000000,1.000000,0.000000,0.000000,0.000000,112.458920,-9999.000000,-9999.000000,112.833920,...,3.319000,-9999.000000,-766.143000,-1330.452000,-22.769000,-38.238000,-0.623000,-17.031000,-19.610000,2014-05-28 00:00:00
25%,2014.000000,6.000000,8.000000,9.000000,10.000000,15.000000,158.336305,158.262300,-0.061998,158.711305,...,24.685000,0.414000,-289.564500,-489.458500,-2.539000,-6.959500,-0.093000,0.369000,-0.219000,2014-09-09 00:00:00
50%,2015.000000,7.000000,15.000000,12.000000,23.000000,29.000000,183.752060,183.752850,0.006191,184.127060,...,58.350000,0.921000,-179.688000,-310.816000,-0.564000,-2.930000,0.362000,2.609000,4.251000,2015-10-19 00:00:00
75%,2017.000000,7.000000,22.000000,15.000000,40.000000,45.000000,204.750925,204.742350,0.058967,205.125925,...,288.500500,0.936000,-96.923500,-173.466500,-0.226000,-1.361000,0.464000,5.362500,8.810000,2017-05-05 00:00:00
max,2017.000000,10.000000,31.000000,23.000000,59.000000,59.000000,294.511570,294.501170,3.300231,294.886570,...,2018.369000,0.973000,-22.097000,-24.166000,-0.015000,-0.055000,0.856000,20.964000,31.160000,2017-09-22 00:00:00
std,1.172220,1.226838,8.680922,3.974668,17.345022,17.346594,35.844674,125.368741,117.969065,35.844674,...,364.216784,499.940576,122.661843,208.201862,3.818882,5.852100,0.270759,5.215641,6.585765,NaN

In [70]:
stop_metadata = pd.read_csv('/Users/colettebrown/repos/tram/data/Stop_Metadata.csv')

In [71]:
stop_metadata.head()

,Position_for_Measurement,Distance_along_Tram,Elevation_of_Position,Polygon_Type_Feature_ID,Polygon_Type,Polygon_Feature,Unnamed: 6,Unnamed: 7
0,NaN,m,m,NaN,NaN,NaN,NaN,NaN
1,1.0,0.0,5.355796,4.0,LCP,center,NaN,NaN
2,2.0,0.5,5.341441,4.0,LCP,center,NaN,NaN
3,3.0,1.0,5.302416,4.0,LCP,center,NaN,NaN
4,4.0,1.5,5.283668,4.0,LCP,center,NaN,NaN

In [72]:
stop_metadata.drop(columns=['Distance_along_Tram', 'Elevation_of_Position', "Polygon_Type_Feature_ID", 'Unnamed: 6', 'Unnamed: 7'], inplace=True)
stop_metadata.dropna(inplace=True)

In [73]:
stop_metadata['Polygon_Type'].unique()

array(['LCP', 'FCP'], dtype=object)

In [74]:
stop_metadata.rename(columns={'Position_for_Measurement':'Stop_number', 'Polygon_Type':'Polygon_type', 'Polygon_Feature':'Topo_feature'}, inplace=True)
stop_metadata

     Stop_number Polygon_type Topo_feature
1            1.0          LCP       center
2            2.0          LCP       center
3            3.0          LCP       center
4            4.0          LCP       center
5            5.0          LCP       center
..           ...          ...          ...
133        133.0          FCP       center
134        134.0          FCP       center
135        135.0          FCP       center
136        136.0          FCP       center
137        137.0          FCP       center

[137 rows x 3 columns]

In [75]:
tram_data = tram_data.merge(stop_metadata, on ='Stop_number')

In [76]:
tram_data

,Year,Month,Day,Hour,Minute,Second,DD_AKST,DD_Expected_AKST,Offset_time,DD_UTC,...,Red_i,NIR_i,Red_r,NIR_r,NDVI,T_air_C,T_surf_C,date,Polygon_type,Topo_feature
0,2014,5,28,5,1,31,148.20939,148.20833,0.025278,148.58439,...,-51.557,-88.863,-1.519,-2.616,-0.119,-6.138,-6.169,2014-05-28,LCP,center
1,2014,5,28,8,1,31,148.33439,148.33333,0.025278,148.70939,...,-204.277,-344.720,-6.234,-10.531,-0.118,-5.934,-5.000,2014-05-28,LCP,center
2,2014,5,28,11,1,30,148.45937,148.45833,0.025000,148.83437,...,-430.776,-740.186,-13.618,-23.447,-0.118,-5.299,-3.226,2014-05-28,LCP,center
3,2014,5,28,14,1,30,148.58437,148.58333,0.025000,148.95937,...,-446.671,-762.150,-14.021,-23.953,-0.118,-5.524,-3.460,2014-05-28,LCP,center
4,2014,5,28,17,1,30,148.70937,148.70833,0.025000,149.08437,...,-349.003,-599.596,-11.268,-19.418,-0.117,-5.764,-4.103,2014-05-28,LCP,center
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
136478,2015,9,6,12,40,36,249.52819,249.51545,0.305787,249.90319,...,-106.289,-192.357,-0.154,-1.120,0.519,4.429,6.225,2015-09-06,FCP,center
136479,2015,9,7,12,40,37,250.52821,250.51545,0.306064,250.90321,...,-95.547,-171.800,-0.135,-1.001,0.529,3.750,4.329,2015-09-07,FCP,center
136480,2015,10,18,12,41,12,291.52861,291.51545,0.315787,291.90361,...,-43.955,-72.826,-1.314,-2.254,-0.102,-2.476,-3.528,2015-10-18,FCP,center
136481,2015,10,19,12,41,46,292.52900,292.51545,0.325231,292.90400,...,-65.709,-124.764,-2.040,-3.979,-0.105,-6.643,-7.849,2015-10-19,FCP,center
136482,2016,7,3,18,15,25,185.76071,185.76545,-0.113936,186.13571,...,-285.203,-520.982,-0.414,-3.974,0.611,7.336,12.030,2016-07-03,FCP,center

In [77]:
tram_data.to_csv('/Users/colettebrown/repos/tram/data/tram_complete.csv')